@media (min-width: 420px) {
    #adoption__img {
        order: 1;
    }

    #adoption__text {
        order: 2;
    }

    #grooming__text {
        order: 1;
    }
}

@media (min-width: 720px) {
    :root {
        font-size: 100%;
    }
}

@media (min-width: 930px) {
  .two__section {
    display: grid;
    grid-template-columns: 50% 50%;
  }  

  main {
    margin: 0 3rem;
  }

  .mission h1 {
    text-align: start;
    color: #514B57;
  }

  .mission p {
    color: #514B57;
  }

  .mission {
    margin-top: 8rem;
    padding-left: 1.8rem;
    background-color: transparent;
  }

  .about {
    background-color: #34B1BF;
    padding-bottom: 5rem;
    padding-top: 3rem;
    margin-top: 8rem;
    padding-right: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .about p, .about h1 {
    color: #F2F2F2;
  }

  .hand__image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .contact__container {
    font-size: 97%;
  }

  .partnerships {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .veterinary__service p {
    grid-column: 1/2;
    padding-bottom: 15%;
  }

  .veterinary__content {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  #veterinary__cat__img {
    align-self: end;
    grid-row: 1/3;
    grid-column: 2/3;
  }

  #veterinary__background {
    height: 35%;
  }

  .veterinary__list p {
    padding: 0;
  }

  .title {
    padding: 0 2rem 2rem ;
  }

  .text {
    padding: 0 2rem;
  }

  .grooming__service {
    margin-top: 11rem;
  }

  .grooming__item svg {
    width: 2rem;
    height: 2rem;
  }

  .grooming__list__container {
    justify-self: center;
  }

  .grooming__cta__container {
    margin: 0;
    align-self: center;
    justify-self: start;
  }

  .adoption__service {
    margin-top: 8rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }

  .adoption__cta__container {
    justify-self: center;
    align-items: center;
  }

  .adoption__tools__container {
    margin-left: 2rem;
  }

  footer {
    margin-top: 5rem;
  }

  footer h3 {
    font-size: 3rem;
  }

  footer svg {
    height: 2.5rem;
  }
}
