/* --------------------- HEADER --------------------- */

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 7rem;
}

.header__paw {
    position: absolute;
    top: 0;
}

.paw__left {
    left: 0;
    width: 7.7rem;
}

.paw__right {
    right: 0;
    width: 4.8rem;
}

#header__cat {
    position: absolute;
    bottom: -2.8rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* --------------------- ABOUT SECTION --------------------- */

.about {
    padding: 7rem 4.9rem 0 1.8rem;
}

/* --------------------- MISSION SECTION --------------------- */

.mission {
    padding: 2.2rem 1.8rem 7rem 4.9rem;
    margin-top: 3.3rem;
    position: relative;
}

.hand__image {
    position: absolute;
    bottom: -5rem;
    left: 0;
}

/* --------------------- SERVICES SECTION --------------------- */

.services {
    padding-top: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

.services__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 5.7rem;
}

.service__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    z-index: -3;
}

.service__box h2 {
    z-index: 1;
}

.service__image {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 30%;
}

#grooming__img, #adoption__img, #veterinary__img{
    z-index: 2;
}

.service__image {
    position: absolute;
    z-index: -2;
}

.service__cat {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -5rem;
}

.service__dog {
    left: -3.8rem;
    top: 0;
}

.service__tail {
    top: 8.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hide__img {
    position: absolute;
    z-index: -1;
}

.hide__dog {
    left: -9.1rem;
    top: 0;
}

.hide__cat {
    top: -5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hide__tail {
    bottom: -5.2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* --------------------- VETERINARY SERVICE SECTION --------------------- */

.veterinary__service {
    padding: 2.8rem 1.8rem 0 1.8rem;
    margin-top: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.veterinary__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#veterinary__background {
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}

.veterinary__service h1 {
    align-self: start;
}

.veterinary__list__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.veterinary__list {
    padding: 1.4rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#veterinary__cta__conateiner {
    padding: 1rem 3rem 5.5rem 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-top: 2.3rem;
    position: relative;
}

#veterinary__dog__img {
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

/* --------------------- GROOMING SERVICE SECTION --------------------- */

.grooming__container {
    padding: 2.7rem 1.8rem;
    margin-top: 7rem;
}

.grooming__list__container {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    align-items: start;
    padding: 3rem 1.8rem;
}

.grooming__item {
    display: flex;
    gap: 0.8rem;
}

.grooming__cta__container {
    margin: 0 1.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    padding: 0 8rem 0 3rem;
    margin-bottom: 7rem;
}

#grooming__dog__img {
    position: absolute;
    overflow: hidden;
    right: -1.8rem;
    bottom: -4rem;
}

/* --------------------- ADOPTION SERVICE SECTION --------------------- */

.adoption__service {
    padding: 2.7rem 1.8rem;
}

.adoption__service p {
    padding-bottom: 5rem;
}

.adoption__tools__container {
    position: relative;
}

#adoption__cat__img {
    position: absolute;
    overflow: hidden;
    right: 5rem;
    top: -11.7rem;
}

.adoption__itens__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3.2rem 0;

}

.adoption__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adoption__cta__container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

/* --------------------- PARTNERSHIPS SECTION --------------------- */

.partnerships h1 {
    padding: 4rem 1.8rem 2.7rem 1.8rem;
}

.partnerships {
    padding-bottom: 5rem;
}

/* --------------------- CONTACT US SECTION --------------------- */

.contact h1 {
    padding: 5rem 1.8rem 2.7rem 1.8rem;
}

.contact__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    padding: 1.8rem 0;
    margin: 5.5rem 2.5rem;
    position: relative;
}

.contact__item {
    display: flex;
    gap: 1rem;
}

.contact__dog__img {
    position: absolute;
    top: -8.4rem;

}

/* --------------------- FOOTER --------------------- */

footer {
    padding: 1.8rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap: 0.5rem;
}

footer h4 {
    grid-row: 2/3;
    align-self: end;
}

.footer__icons {
    grid-area: 2/2/3/3;
    align-self: end;
    justify-self: end;
    display: flex;
    gap: 0.5rem;
}





